
@media (max-width: 500px){
    .heading{
        margin: 1.3rem 0rem 0rem 1rem;
    }
    .menu ul{
        margin: 4.5rem 1rem 0rem -6rem;
    }
    .menu ul li{
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .rght{
        margin: 1.2rem 0rem 0rem -9rem;
    }
    .rght button{
        /* height: 1.5rem; */
        /* width: 5rem; */
    }
    #content{
        height: 16rem;
    }
.mhead h1{
    margin: 0rem 0rem 0rem 2rem;
    padding: 3rem 0rem 0rem 0rem;
    font-size: 1rem;
    width: 9rem;
}
.mhead p{
    margin: 2rem 0rem 0rem 2rem;
    font-size: 11px;
    width: 9rem;
}
.mhead button{
    margin: 2rem 0rem 0rem 1rem;
    width: 67px;
    height: 24px;
    font-size: 8px;
}
.mhead .check{
    margin-left: 2rem;


}
.img{
    width: 9.5rem;
    height: 16rem;
    margin: -15.2rem 0rem 0rem 0rem;
}
.img img{
    height: 11rem;
    margin: 5rem 0rem 0rem 0.2rem;

}
.box{
    margin: -44rem 7rem 0rem 0rem;
    width: 7rem;
    height: 2rem;
}
.box img{
    height: 20px;
    margin: 7px 8px;
    width: 16px;
}
.box p{
    font-size: 8px;
    width: 67px;
    margin: -30px 33px;
}


.box2{
    margin: -35rem 5.5rem;
    width: 5rem;
    height: 1.5rem;
}
.box2 img{
    height: 16px;
    width: 15px;
    margin: 4px 8px;
}
.box2 p{
    margin: -27px 33px;
    font-size: 9px;
}

.img00 {
    

}
.img9 h3{
    display: flex;
    justify-content: center;
    margin: 3rem 0rem 0rem 0rem;
    height: 0rem;
    font-size: 1rem;
}
.img1 img{
    height: 20px;
}
.img2 h1 {
font-size: 16px;
}
.img4 img{
height: 15px;
margin: 1rem 0rem;
}
.img5 img{
height: 20px;
margin: 2px 0px;
}
.img6 img{
height: 20px;


}


.last .color{
    height: 20rem;
    display: flex;
    margin: 24rem 0rem;

}
.color .imgx{
display: flex;
margin: 5.85rem 2rem;

}
.color .imgx img{
    
    width: 11rem;
    height: 14rem;
}

.head00{
    

    height: 21rem;    
    margin: -44rem 8rem;
}
.last .hx{
    margin: 0rem 2rem;
    font-size: 1.5rem;
    width: 17rem;
}
.mcon h1{
    margin: 0rem 0rem 0rem 9rem;
    width: 20rem;
    font-size: 1rem;
}
.mcon p{
    margin: 0rem 0rem 0rem 9rem;
    font-size: 0.7rem;
    width: 8rem;
}
.more{
    margin: 1rem 0rem 0rem 8.8rem;
    font-size: 1rem;
}

.mcon2 h1{
    margin: .5rem 0rem 0rem 8.8rem;
    width: 35rem;
    font-size: 1rem;
}



.mcon2 p{
    margin: 0rem 0rem 0rem 9rem;
    width: 8rem;
    font-size: .7rem; 

}

.img7 img{

    margin: -15rem 0rem 14.2rem 5.55rem;
}
.img77 img{
    margin: -9rem 0rem 11rem 6rem;
}


}
































