
@media(min-width: 800px) and (max-width :1400px){
        .menu ul{

        }
        .menu ul li{
            margin: 0rem 0rem 0rem 5.5rem;
        }
        #content{
            width: 100%;
            height: 40rem;
        }
        .mhead h1{
            font-size: 3rem;
            width: 21rem;
        }
        .mhead p{
            margin: 3rem 0rem 0rem 4rem;
            font-size: 2rem;
            width: 41rem;
            width: 20rem;
        }
        .img{
            height: 35rem;
            margin: -32rem 0rem 0rem 4.2rem;
        }
        .img img{
        height: 30rem;
        margin: 5rem 0rem 0rem 3rem;
        }
        .box{
            margin: -64rem 20rem 0rem 0rem;
        }
        .box2{
            margin: -44rem 18rem;
        }
        .img00{
            display: flex;
            justify-content: center;
            justify-content: space-around;
            text-align: center;
        }

        .img9{
            display: flex;
            margin: 0px 0px 0px -22rem;
            justify-content: center;
            text-align: center;
           
        }
        footer{
            /* display: flex; */
        }
      

        .last .color{
            height: 35rem;
            /* display:flex; */
            /* width: 35%; */

        }
.color .imgx{
 
 display: flex;
 margin: 7.9rem 3rem;

}
.color .imgx img{
    width: 250%;
    height: 27rem;
}

        
        .head00{
            height: 35rem;
            margin: -65rem 18.9rem;
            /* display: flex; */
        }
        .last h1{
            margin: 0rem 5rem;
            font-size: 3rem;
            width: 22rem;
            padding: 16px 0px;
            color: #494b4b;
        }
        .hx{
        font-size: 3rem;
        }
        .mcon{
            margin: 0rem -9rem;
        }
        .mcon h1{
            font-size: 20px;
        }
        .mcon p{
            width: 13rem;
            font-size: 21px;
        }
        .more{
            margin: 2rem 0rem 0rem 53rem;
        }
        .mcon2{
            margin: -3rem -9rem;
        }
.mcon2 h1{
    font-size: 20px;
}
.mcon2 p{
    width: 13rem;
    font-size: 21px;
}
.img7 img{

}
.img7{

    margin: 3rem 0rem 0rem -8rem;
}

.img77 img{
    margin: -12rem 0rem 8rem 49rem;
}
.img77{

}

}





    





























































































